doctype html
html
  head
    title Mohit Delhiwala Resume
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')
  body
    header
      h1 Mohit Delhiwala
      i#email-address.fa.fa-envelope-o
      a(href='mailto:mohit@spam-me-not.com')   mohit@spam-me-not.com
      i#phone-number.fa.fa-phone
      |       (123) 456 7890
      i#github.fa.fa-github
      a(href='https://github.com/mohitncode')  mohitncode
      i#linkedin.fa.fa-linkedin
      a(href='https://www.linkedin.com/in/mdelhiwala/')   mdelhiwala
    section.cv-section
      .cv-section-title Education
      hr
      ul.no-indent
        li.listing
          .university.chronological-event
            span.university-name University at Buffalo
            span.university-dates Aug 2017 - Feb 2019
          span.degree MS in Computer Science and Engineering
        li.listing
          .university.chronological-event
            span.university-name Gujarat Technological University
            span.university-dates Jun 2010 - May 2014
          span.degree BE in Computer Engineering
    section.cv-section
      .cv-section-title Technical Skills
      hr
      table#technical-skills
        tbody
          tr
            th Languages
            td Java, JavaScript, ES6, TypeScript, HTML / HTML5, CSS / CSS3, Python, C, PHP, Rust
          tr
            th Frameworks
            td
              | NodeJS, Express, socket.io, Bootstrap, Jade / Pug, JUnit, Angular, SASS, LESS
          tr
            th Databases
            td MySQL, PostgreSQL, SQLite, MongoDB, MariaDB, Redis
          tr
            th Operating Systems
            td Linux / *nix, Mac, Windows
          tr
            th Version Control Systems
            td Git, TFS, SVN
          tr
            th Build Systems
            td Jenkins, Gradle, Webpack, Grunt, Gulp, Make
          tr
            th Other Technologies
            td Openshift, Docker, Kubernetes, Prometheus, Logstash, Kibana, Elasticsearch
    section.cv-section
      .cv-section-title Work Experience
      hr
      ul.no-indent
        li.listing
          .company.chronological-event
            span.company-name Technical Consultant, Perficient, Inc.
            span.dates-worked March 2019 - Present
          ul
            li
              | Developed REST microservices using NodeJS for a payments portal for a major client in the healthcare domain
            li
              | Architected, developed and configured CI/CD workflows using Jenkins, Gitlab and Artifactory
            li
              | Introduced Blue/Green pipeline modeling to reduce downtime, enable immediate rollback and parallel testing
            li
              | Practiced Agile methodology using Rally and SAFe Framework
            li
              | Deployed and diagnosed a complex cluster of services hosted on Openshift Container Platform
            li
              | Improved time to detect and eliminate bugs by implementing an automated test suite
        li.listing
          .company.chronological-event
            span.company-name Product Engineer, EdgeVerve Systems Limited
            span.dates-worked Jan 2015 - Jun 2017
          ul
            li
              | Developed a collaborative screen sharing application using JavaScript, NodeJS, Express, socket.io and REST APIs
            li
              | Participated in daily Scrum meetings and practiced Agile Software Development methodology using JIRA
            li
              | Ratified coding standards and best practices by inclusion of linting tools such as JSHint and JSCS
            li
              | Streamlined an undocumented and error prone continuous integration / continuous deployment (CI / CD) process into a reliable and efficient one using Bash, Gulp and Jenkins
            li Practiced test driven development (TDD) by writing unit and integration tests using Mocha and Chai
            li
              | Awarded the Star Performer of the Year accolade for outstanding contributions to the AssistEdge team
        li.listing
          .company.chronological-event
            span.company-name Systems Engineer, Infosys Limited
            span.dates-worked Oct 2014 - Jan 2015
    section.cv-section
      #projects.cv-section-title Projects
      hr
      ul.no-indent
        li.listing
          strong Relational Database Query Engine
          |  - Implemented a Relational Database Query Engine in Java using JSQL Parser. The objective of the project was to implement a query engine that could take any arbitrary user query and implement query restructuring operations and optimizations by using relational algebraic reductions.
        li.listing
          strong PintOS
          |  - Implemented various major subsystems of the OS such as the thread scheduler, virtual memory management, system call handler, etc. The project heavily emphasised on concurrency, interprocess communication and memory management.
        li.listing
          strong Openfuel
          |  - A business plan creation and mentorship platform based on MVC architecture written in PHP that helps bridge the gap between entrepreneurs and industry members.
